body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userInfoContainer{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
}

.recipeSearchContainer{
  font-size: 60px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 50px;
}

.userPrefContainer {
  position: relative;
  margin: auto;
  margin-left: 50px;
}

.calForm, .searchForm {
  font-size: 40px;
  border-radius: 0;
  border-bottom: 4px black solid !important;
  width: 15%;
  padding-bottom: 0;
  display: inline;
}

.searchForm {
  width: 80%;
}

.smallerFont span{
  font-size: 40px;
}

.dietButtonContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: none;
}

.dietButton {
  margin: 15px;
  margin-bottom: 5px;
  margin-left: 0;
}

.dayOfWeekContainer {
  border: 1px black solid ;
  border-radius: 5px;
}

.dayOfWeek {
  text-align: center;
  border-bottom: 1px solid black;
}

.mealTime {
  text-align: center;
}