body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userInfoContainer{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
}

.recipeSearchContainer{
  font-size: 60px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 50px;
}

.userPrefContainer {
  position: relative;
  margin: auto;
  margin-left: 50px;
}

.calForm, .searchForm {
  font-size: 40px;
  border-radius: 0;
  border-bottom: 4px black solid !important;
  width: 15%;
  padding-bottom: 0;
  display: inline;
}

.searchForm {
  width: 80%;
}

.smallerFont span{
  font-size: 40px;
}

.dietButtonContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: none;
}

.dietButton {
  margin: 15px;
  margin-bottom: 5px;
  margin-left: 0;
}

.dayOfWeekContainer {
  border: 1px black solid ;
  border-radius: 5px;
}

.dayOfWeek {
  text-align: center;
  border-bottom: 1px solid black;
}

.mealTime {
  text-align: center;
}

.searchResultsContainer {
  margin-left: 50px;
}

.singleRecipeResult {
  margin: 10px;
}

.singleRecipeResultImg {
  width: 15%;
}

.singleRecipeResultTitle {
  font-size: 18px;
  font-weight: bold;
}

.singleRecipeResultTextButtonContainer{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.singleRecipeResultTextButtonContainer button {
  width: 100px;
}

.addMealContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 20%;
  margin: auto;
  z-index: 5;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  padding: 10px;
}

.addMealCheckboxes {
  display: grid;
  grid-template-columns: 2fr repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
}
.addMealCheckboxes input {
  margin: auto !important;
}

.addMealCheckboxes input:checked {
  /* background-color: red!important; */

}

.untouchable {
  pointer-events: none;
}

.mealCounter {
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.filterSearchContainer {
  margin-left: 50px;
}